{% extends "base.html" %}

{% block content %}
    <h1>О нас</h1>

    <div class="about-section">
        <p>Мы - команда увлеченных разработчиков, создающих веб-приложения с использованием Flask.</p>
    </div>

    <div class="card">
        <h3>Миссия:</h3>
        <p>Эффективно обучать программированию.</p>

        <h3>Видение:</h3>
        <p>Дать людям возможность воплощать свои идеи в жизнь.</p>

        <h3>Ценности:</h3>
        <ul>
            <li>Сотрудничество</li>
            <li>Инновации</li>
            <li>Обучение</li>
        </ul>

        <h3>Cписок командных участников:</h3>
        <ul>
            {% for user in users_list %}
                <li>{{ user.name }} - {{ user.role }}</li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}